<!-- Bodenbelaege page template at wohnung level -->

{% extends 'siteman/base_wohnung.html' %}

{% block content%}
    <div class="page-heading">
        <h3 class="imp-heading"> Bodenbelaege: {{ wohnung }}</h3>
    </div>
    <div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bad</h5>
                <p>{{ wohnung.bodenbelaege.bad }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Kuche</h5>
                <p>{{ wohnung.bodenbelaege.kueche }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Flur</h5>
                <p>{{ wohnung.bodenbelaege.flur }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Wohnzimmer</h5>
                <p>{{ wohnung.bodenbelaege.wohnzimmer }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Gaste-wc</h5>
                <p>{{ wohnung.bodenbelaege.gaeste_wc }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Schlafzimmer</h5>
                <p>{{ wohnung.bodenbelaege.schlafzimmer }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Kinderzimmer</h5>
                <p>{{ wohnung.bodenbelaege.kinderzimmer }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Abstellraum</h5>
                <p>{{ wohnung.bodenbelaege.abstellraum }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sonstiges</h5>
                <p>{{ wohnung.bodenbelaege.sonstiges }}</p>
            </div>
        </div>
        {% if wohnung.bodenbelaege %}
        <div class="custom-btn-right-container">
            <a class="btn btn-primary" href="{% url 'siteman:wohnung_bodenbelaege_update' wohnung.bodenbelaege.pk %}">Update</a>
        </div>
        {% endif %}
    </div>
    

{% endblock %}