<!-- Sanitar page template at wohnung level -->

{% extends 'siteman/base_wohnung.html' %}

{% block content%}
    <div class="page-heading">
        <h3 class="imp-heading"> Sanitar: {{ wohnung }} </h3>
    </div>
    <div>
        {% if wohnung.sanitaer.aussenzapfstelle %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Aussenzapfstelle</h5>
                <p>{{ wohnung.sanitaer.aussenzapfstelle }}</p>
            
                {% for plan in plans %}
                {% if plan.components == 'sanitaer-aussenzapfstelle' %}
                    <p><a href="{{ plan.plan.url }}">{{ plan.name }}</a></p>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if wohnung.sanitaer.dusche %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Dusche</h5>
                <p>{{ wohnung.sanitaer.dusche }}</p>
            
                {% for plan in plans %}
                {% if plan.components == 'sanitaer-dusche' %}
                    <p><a href="{{ plan.plan.url }}">{{ plan.name }}</a></p>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if wohnung.sanitaer.badewanne %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Badewanne</h5>
                <p>{{ wohnung.sanitaer.badewanne }}</p>
            
                {% for plan in plans %}
                {% if plan.components == 'sanitaer-badewanne' %}
                    <p><a href="{{ plan.plan.url }}">{{ plan.name }}</a></p>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if wohnung.sanitaer.waschtisch_im_bad %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">waschtisch_im_bad</h5>
                <p>{{ wohnung.sanitaer.waschtisch_im_bad }}</p>
            </div>
            
                {% for plan in plans %}
                {% if plan.components == 'sanitaer-waschtisch_im_bad' %}
                    <p><a href="{{ plan.plan.url }}">{{ plan.name }}</a></p>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {% endif %}


        {% if wohnung.sanitaer.toilette %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Toilette</h5>
                <p>{{ wohnung.sanitaer.toilette }}</p>
            
                {% for plan in plans %}
                    {% if plan.components == 'sanitaer-toilette' %}
                        <p><a href="{{ plan.plan.url }}">{{ plan.name }}</a></p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if wohnung.sanitaer.heizkorper %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">heizkorper</h5>
                <p>{{ wohnung.sanitaer.heizkorper }}</p>
            
                {% for plan in plans %}
                    {% if plan.components == 'sanitaer-heizkorper' %}
                        <p><a href="{{ plan.plan.url }}">{{ plan.name }}</a></p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if wohnung.sanitaer.waschtisch_im_duschbad_wc %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">waschtisch_im_duschbad_wc</h5>
                <p>{{ wohnung.sanitaer.waschtisch_im_duschbad_wc }}</p>
            
                {% for plan in plans %}
                    {% if plan.components == 'sanitaer-waschtisch_im_duschbad_wc' %}
                        <p><a href="{{ plan.plan.url }}">{{ plan.name }}</a></p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if wohnung.sanitaer.waschmaschinenanschluss %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Waschmaschinenanschluss</h5>
                <p>{{ wohnung.sanitaer.waschmaschinenanschluss }}</p>
            
                {% for plan in plans %}
                {% if plan.components == 'sanitaer-waschmaschinenanschluss' %}
                    <p><a href="{{ plan.plan.url }}">{{ plan.name }}</a></p>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if wohnung.sanitaer.spuelmaschinenanschluss %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">spuelmaschinenanschluss</h5>
                <p>{{ wohnung.sanitaer.spuelmaschinenanschluss }}</p>
            
                {% for plan in plans %}
                {% if plan.components == 'sanitaer-spuelmaschinenanschluss' %}
                    <p><a href="{{ plan.plan.url }}">{{ plan.name }}</a></p>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {% endif %}


        {% if wohnung.sanitaer.sonstiges %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sonstiges</h5>
                <p>{{ wohnung.sanitaer.sonstiges }}</p>
            
                {% for plan in plans %}
                {% if plan.components == 'sanitaer-sonstiges' %}
                    <p><a href="{{ plan.plan.url }}">{{ plan.name }}</a></p>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if wohnung.sanitaer %}
        <div class="custom-btn-right-container">
            <a class="btn btn-primary" href="{% url 'siteman:wohnung_sanitaer_update' wohnung.sanitaer.pk %}">Update</a>
        </div>
        {% endif %}
    </div>
    

{% endblock %}