<!-- Trockenbau page template at wohnung level -->

{% extends 'siteman/base_wohnung.html' %}

{% block content%}
    <div class="page-heading">
        <h3 class="imp-heading"> Trockenbau:{{ wohnung }} </h3>
    </div>
    <div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Wande</h5>
                <p>{{ wohnung.trockenbau.wande }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Decken</h5>
                <p>{{ wohnung.trockenbau.decken }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sontiges</h5>
                <p>{{ wohnung.trockenbau.sonstiges }}</p>
            </div>
        </div>
        {% if wohnung.trockenbau %}
        <div class="custom-btn-right-container">
            <a class="btn btn-primary" href="{% url 'siteman:wohnung_trockenbau_update' wohnung.trockenbau.pk %}">Update</a>
        </div>
        {% endif %}
    </div>
    

{% endblock %}