<!-- Schreiner page template at wohnung level -->

{% extends 'siteman/base_wohnung.html' %}

{% block content%}
    <div class="page-heading">
        <h3 class="imp-heading"> Schreiner: {{ wohnung }}</h3>
    </div>
    <div>
        {% if wohnung.turen.wohnungstur %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">wohnungstur</h5>
                <p>{{ wohnung.turen.wohnungstur }}</p>
                {% for plan in plans %}
                {% if plan.components == 'turen-wohnungstur' %}
                    <p><a href="{{ plan.plan.url }}">{{ plan.name }}</a></p>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if wohnung.turen.innenturen %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">innenturen</h5>
                <p>{{ wohnung.turen.innenturen }}</p>
                {% for plan in plans %}
                {% if plan.components == 'turen-innenturen' %}
                    <p><a href="{{ plan.plan.url }}">{{ plan.name }}</a></p>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if wohnung.turen.sonstiges %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sonstiges</h5>
                <p>{{ wohnung.turen.sonstiges }}</p>
                {% for plan in plans %}
                {% if plan.components == 'turen-sonstiges' %}
                    <p><a href="{{ plan.plan.url }}">{{ plan.name }}</a></p>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if wohnung.turen %}
        <div class="custom-btn-right-container">
            <a class="btn btn-primary" href="{% url 'siteman:wohnung_turen_update' wohnung.turen.pk %}">Update</a>
        </div>
        {% endif %}
    </div>
    

{% endblock %}