{% extends 'base_gebaudeausrustung.html' %}
{% load static %}

{% block inner_content%}
  
    <div class="entry-form">
        <h4></h4>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Aufzüge:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="2">Aufzüge ohne Maschinenraum. Wandoberflächen der Kabine Edelstahl, Teilfläche
einer Seitenwand verspiegelt, eine Seitenwand mit Handlauf in Edelstahl, Boden
Naturstein wie im Treppenhaus, LED-Decken Einbauleuchten. Kabinentüren innen
Edelstahl, außen grundiert und farbig lackiert.</textarea> 
        </div>

        
    </div>

{% endblock %}