{% extends 'siteman_base_template.html' %}
{% load static %}

{% block left_nav %}
<div class="left-nav-wohnung">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'siteman:haus_wohnungen' %}">Wohnungen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'siteman:wohnung_ubersicht' %}">Ubersicht</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'siteman:wohnung_fenster' %}">Fenster</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="{% url 'siteman:wohnung_elektro' %}">Elektro</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'siteman:wohnung_raumbuch_elektro' %}">Raumbuch Elektro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'siteman:wohnung_sanitaer' %}">Sanitaer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'siteman:wohnung_innenputz' %}">Innenputz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'siteman:wohnung_estrich' %}">Estrich</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'siteman:wohnung_trockenbau' %}">Trockenbau</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'siteman:wohnung_maler' %}">Maler</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'siteman:wohnung_bodenbelaege' %}">Bodenbelaege</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'siteman:wohnung_turen' %}">Turen</a>
      </li>
     <!--  <li class="nav-item">
        <a class="nav-link" href="{% url 'siteman:wohnung_schlosser' %}">Schlosser</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'siteman:wohnung_schliessanlage' %}">Schliessanlage</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'siteman:wohnung_plans' %}">Plans</a>
      </li>
    </ul>
</div>
{% endblock %}