{% extends 'base_gebaudeausrustung.html' %}
{% load static %}

{% block inner_content%}
  
    <div class="entry-form">
        <h4></h4>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"> Elektroausstattung:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="2">Gemäß Raumbuch Elektro reinweißes Unterputz-Schalterprogramm für Schalter,
Steckdosen, RJ45-Datenanschluss- und Antennendosen in der Wohnung sowie für
Schalter und Steckdosen im Treppenhaus und in der Schleuse, keine
abgerundeten Ecken. Für das Untergeschoß, mit Ausnahme der vorstehend
genannten Bereiche, und die Tiefgarage Aufputz-Schalterprogramm.</textarea> 
        </div>
       
        
    </div>

{% endblock %}