{% extends 'base_gebaudeausrustung.html' %}
{% load static %}

{% block inner_content%}
  
    <div class="entry-form">
        <h4></h4>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Be- und Entlüftung:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="2">In innen liegenden Bädern, Duschbädern und Abstellräumen Luftabsaugung über
dezentrale Abluftanlage (Einrohrlüftung) über Dach, Luftnachströmung über
Außenluftdurchlaß (ALD). Lüftung zum Feuchteschutz und reduzierte Lüftung
unter Einbindung der Einrohrlüfter. ALD-Elemente mit akustischer
Eignungsprüfung und entsprechender Dämpfung. Einbau der ALD in der Fassade
oder auf dem Rolladenkasten.</textarea> 
        </div>
      
        
    </div>

{% endblock %}