{% extends 'base_erganzung.html' %}

{% block content%}
    <h3> Projekt XXXXXXX - Erweiterter Rohbau </h3>
    <div>
      <h4>Fenster</h4>
      <div class="card">
        <h5 class="card-header">Kellergeschoss</h5>
        <div class="card-body">
          <h5 class="card-title">20 January 2019 - Wazed</h5>
          <p class="card-text">Kunststoff-Fenster mit Leibungsrahmen.</p>
          <h5 class="card-title">31 January 2019 - Timm</h5>
          <p class="card-text">Kunststoff-Fenster mit Leibungsrahmen.</p>
          <a href="#" class="btn btn-primary">Bearbiten</a>
        </div>
      </div>
      <div class="card">
        <h5 class="card-header">Erd-, Ober- und Staffelgeschoss</h5>
        <div class="card-body">
          <h5 class="card-title">20 January 2019 - Timm</h5>
          <p class="card-text">Kunststoff-Fenster, innen weiß, außen grau foliert, mit 3-fach-Verglasung, Dreh- bzw. Drehkippflügel mit Eingriffbedienung, teilweise Festverglasung, im EG abschließbare Griffe und Einbruchwiderstand RC 2 N.</p>
          <h5 class="card-title">31 January 2019 - Timm</h5>
          <p class="card-text">Kunststoff-Fenster, innen weiß, außen grau foliert, mit 3-fach-Verglasung, Dreh- bzw. Drehkippflügel mit Eingriffbedienung, teilweise Festverglasung, im EG abschließbare Griffe und Einbruchwiderstand RC 2 N.</p>
          <a href="#" class="btn btn-primary">Bearbiten</a>
        </div>
      </div>
      <div class="card">
        <h5 class="card-header">Treppenhaus</h5>
        <div class="card-body">
          <h5 class="card-title">20 January 2019 - Timm</h5>
          <p class="card-text">Eingangselement aus farbigen Metallprofilen mit Isolierverglasung, je Treppenhaus ein Oberlicht als Dachausstieg mit RWA-Funktion, incl. Schlagtaster im EG und im obersten Geschoß, und ein feststehendes, lichtbandartiges Oberlicht oberhalb der Treppenanlage. </p>
          <h5 class="card-title">31 January 2019 - Timm</h5>
          <p class="card-text">Eingangselement aus farbigen Metallprofilen mit Isolierverglasung, je Treppenhaus ein Oberlicht als Dachausstieg mit RWA-Funktion, incl. Schlagtaster im EG und im obersten Geschoß, und ein feststehendes, lichtbandartiges Oberlicht oberhalb der Treppenanlage. </p>
          <h5 class="card-title">31 January 2019 - Timm</h5>
          <p class="card-text">Eingangselement aus farbigen Metallprofilen mit Isolierverglasung, je Treppenhaus ein Oberlicht als Dachausstieg mit RWA-Funktion, incl. Schlagtaster im EG und im obersten Geschoß, und ein feststehendes, lichtbandartiges Oberlicht oberhalb der Treppenanlage. </p>
          <a href="#" class="btn btn-primary">Bearbiten</a>
        </div>
      </div>

    </div>
    
{% endblock %}