{% extends 'base_erganzung.html' %}

{% block content%}
    <h3> Projekt XXXXXXX - Wände </h3>
    <div>
        <div class="card">
          <h5 class="card-header">Außenwände UG</h5>
          <div class="card-body">
            <h5 class="card-title">20 January 2019 - Timm</h5>
            <p class="card-text">Stahlbeton. Weiße Wanne.</p>
            <h5 class="card-title">31 January 2019 - Timm</h5>
            <p class="card-text">Stahlbeton. Weiße Wanne.</p>
            <a href="#" class="btn btn-primary">Bearbiten</a>
          </div>
        </div>
        <div class="card">
          <h5 class="card-header">Wohnungstrennwände</h5>
          <div class="card-body">
            <h5 class="card-title">20 January 2019 - Timm</h5>
            <p class="card-text">Stahlbeton und Kalksandstein.</p>
            <h5 class="card-title">31 January 2019 - Timm</h5>
            <p class="card-text">Stahlbeton und Kalksandstein.</p>
            <a href="#" class="btn btn-primary">Bearbiten</a>
          </div>
        </div>

    </div>
    
{% endblock %}