{% extends 'base_projekt.html' %}
{% load static %}

{% block content%}
    <h3> Projekt XXXX - Erweiterter Rohbau </h3>
    <div class="entry-form">
        <h4>Fenster</h4>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Kellergeschoss:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="2">Kunststoff-Fenster mit Leibungsrahmen.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Erd-, Ober- und Staffelgeschoss:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="3">Kunststoff-Fenster, innen weiß, außen grau foliert, mit 3-fach-Verglasung, Dreh- bzw. Drehkippflügel mit Eingriffbedienung, teilweise Festverglasung, im EG abschließbare Griffe und Einbruchwiderstand RC 2 N.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Treppenhaus:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="3">Eingangselement aus farbigen Metallprofilen mit Isolierverglasung, je Treppenhaus ein Oberlicht als Dachausstieg mit RWA-Funktion, incl. Schlagtaster im EG und im obersten Geschoß, und ein feststehendes, lichtbandartiges Oberlicht oberhalb der Treppenanlage.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Fensterbänke:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="3">Innen Naturstein, poliert, Material analog Treppenhausboden, für nicht raumhohe Fenster, außen Alu-Blech in Alu-Natur. Keine Fensterbank an Terrassen- und Balkontüren.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Rollladenpanzer:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="3">Graue Kunststoffprofile mit arretierten Lamellen an allen Wohnungsfenstern.</textarea> 
        </div>

        
    </div>
   

    

    

    

{% endblock %}