{% extends 'base_projekt.html' %}

{% block content%}
    {% if projekt %}
    <h3 class="imp-heading"> Projekt : {{ projekt.projekt_name }} </h3>
    <hr>
    <h5>Addresse : {{ projekt.projekt_addresse }}</h5>    
    <h5>Stadt : {{ projekt.projekt_stadt }}</h5>    
    <h5> Num of haus: 00 </h5>    
    <h5> Num of wohnung: 00 </h5>    
    {% endif %}
    <hr>
    
    <div class="projekt-selection">
        <form action="{% url 'siteman:home_projekt' %}" method="POST">
            {% csrf_token %}
            <select class="form-control" name="selected_projekt">
                {% for p in projekts %}
                <option value="{{ p.pk }}">{{ p.projekt_name }}</option>
                {% endfor %}
            </select>
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>        
    </div>
    


{% endblock %}