{% extends 'base_projekt.html' %}

{% block content%}
    <h3> Projekt XXXXX </h3>
    <p>Projektgesellschaft Atrium am Oder-Röder Bahnhof</p>
    <p>Odenwaldstraße 42 - 44a</p>
    <p>Ober-Roden</p>
    <hr>
    <div class="project-selection">
        <select class="form-control">
            <option>Wahlen ein projekt aus</option>
            <option>Erste projekt</option>
            <option>Zweite projekt</option>
            <option>Dritte projekt</option>
        </select>
    </div>
    


{% endblock %}