{% extends 'siteman_base_template.html' %}
{% load static %}

{% block left_nav %}

{% endblock %}

{% block content%}
    <div class="page-heading">
        <h3 class="imp-heading"> Projekt Information </h3>
    </div>
    <div class="gray-bkgrd">
        <form action="{% url 'siteman:projekt' %}" method="POST">
            {% csrf_token %}
            <div>
                <table>
                    {{ form.as_table }}
                </table>
            </div>
            <div class="custom-btn-right-container">
                <a href="{% url 'siteman:home_projekt' %}" class="btn btn-primary custom-btn-right">Back</a>
                <input type="submit" value="Update" class="btn btn-primary custom-btn-right">
            </div>
        </form>
    </div>
    
    <div class="google-map">
        <img src="{% static 'img/zuckerstr23.png' %}" alt="location map">
    </div>

{% endblock %}