{% extends 'base_projekt.html' %}
{% load static %}

{% block content%}
    <h3> Projekt Information </h3>
    <div class="entry-form">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Project name:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="1">Projektgesellschaft Atrium am Oder-Röder Bahnhof</textarea> 
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Addresse:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="1">Odenwaldstraße 42 - 44a</textarea> 
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Stadt:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="1">Ober-Roden</textarea> 
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Art (Type):</span>
            </div>
            <textarea class="form-control" name="" id="" rows="1">Wohnquartier</textarea> 
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Anfangsdatum:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="1">DD/MM/YYYY</textarea> 
        </div>      

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">voraussichtliches Enddatum:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="1">DD/MM/YYYY</textarea> 
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Energetischer Standard:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="1">EnEV 2016</textarea> 
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Beschreibung:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="2">Neubau von 3 Wohn- und Geschäftshäusern und 1 Wohnhaus auf einer gemeinsamen Tiefgarage, 69 Wohneinheiten und gewerblichen Flächen im EG der Häuser 1, 2 und 4</textarea>  
        </div>
    </div>
    <div class="google-map">
        <img src="{% static 'img/zuckerstr23.png' %}" alt="">
    </div>

    

    

    

{% endblock %}