{% extends 'base_projekt.html' %}

{% block content%}
    <h3> Projekt: {{ projekt }} - Haus: {{ haus }} </h3>
    <div class="entry-form">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Bodenplatte:</span>                
            </div>
            <textarea class="form-control" name="" id="" rows="3">Tragende Bodenplatte aus Stahlbeton. Weiße Wanne.</textarea> 
        </div>

        <div class="input-group mb-3 entry-form">
            <div class="input-group-prepend">
                <span class="input-group-text">Boden Kellergeschoß:</span>                
            </div>
            <textarea class="form-control" name="" id="" rows="3">Stahlbeton. In der Tiefgarage Boden mit OS8-Beschichtung und aufgehende Bauteile mit OS4-Beschichtung.</textarea>
        </div>

        <div class="input-group mb-3 entry-form">
            <div class="input-group-prepend">
                <span class="input-group-text">Boden Tiefgarage:</span>                
            </div>
            <textarea class="form-control" name="" id="" rows="3">Stahlbeton. In der Tiefgarage Boden mit OS8-Beschichtung und aufgehende Bauteile mit OS4-Beschichtung.</textarea>
        </div>

        <div class="input-group mb-3 entry-form">
            <div class="input-group-prepend">
                <span class="input-group-text">Tiefgaragenrampen:</span>                
            </div>
            <textarea class="form-control" name="" id="" rows="3">Stahlbeton mit OS11-Beschichtung, einschl. Sockel.</textarea>
        </div>

        
    </div>
    

{% endblock %}