{% extends 'base_gebaudeausrustung.html' %}
{% load static %}

{% block inner_content%}
  
    <div class="entry-form">
        <h4></h4>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Entwässerung:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="2">Leitungen aus Kunststoff, Fallstränge aus schallgedämmtem Kunststoffrohr.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Kalt- und Warmwasser:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="3">Verteil- und Steigeleitungen aus Edelstahlrohr,Objektanbindeleitungen aus Kunststoff-Aluminium-Verbundrohr. Anschluss Kaltwasser-, Warmwasser- und Zirkulationsleitungen an die Hygiene-Kombispeicher, mit Armaturen,Sicherheitseinrichtungen und Zirkulationspumpe.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Heizung:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="3">„Zum Zweck der Wärmeversorgung der Eigentumswohnanlage errichtet ein
gewerblicher Wärmelieferant eine zentrale Wärmeversorgungsanlage auf eigene
Rechnung, die in seinem Eigentum steht und nicht Bestandteil des
gemeinschaftlichen Eigentums wird. Hierzu wird mit dem Wärmelieferanten ein
Wärmelieferungsvertrag über eine Vertragslaufzeit von 15 Jahren abgeschlossen,
dem der Miteigentümer (Käufer) für den Umfang seiner Miteigentumsanteile
vorbehaltlos zustimmt. Die Wohnungseigentümergemeinschaft als solches tritt in
den bestehenden Wärmelieferungsvertrag gemäß § 10 Abs. 8 WEG ein.“ Leistung
des Wärmelieferanten: Zentrale Wärmeerzeugungsanlage mit Pelletskessel, GasBrennwertkessel, 3 Stück Blockheizkraftwerk mit erforderlicher Wärmeleistung,
mit Pufferspeichern, Pelletlagerraum, automatische Pelletbeschickung,
Schornsteinanlage, Ausdehnungsgefäße, automatische Wassernachspeisung,
Regelanlage, Heizkreispumpen und Armaturen, Fernüberwachung mit GLT,
gebäudeweise außentemperaturabhängige Regelung, gebäudeweiser
Warmwasserbehälter (WWB) mit Hygiene-Kombispeicher, Anschluss des WWB an
das Heizungssystem mit Ladepumpe, Regelung, und Wärmemengenzähler,
geregelter Heizkreis mit Mischer, Regelgerät, Heizkreispumpe und Armaturen.
Verlegung der Verteilleitungen Heizung vom Heizraum in die jeweiligen Häuser
mit gedämmten Doppelmantelrohren und Datenkabel. Verlegung der
Gasleitungen ab HAR in den Heizraum, einschließlich Anschlüsse der
Wärmeerzeuger. Anschluss der Sekundärkreise an die installierten
Absperrarmaturen der geregelten Heizkreise je Gebäude.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Elektro:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="3">Unterputzinstallation in den Wohnungen, im Treppenhaus und in der Schleuse zur
Tiefgarage. Aufputzinstallation im Untergeschoß, mit Ausnahme der vorstehend
genannten Bereiche, und in der Tiefgarage.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Medientechnik, Telefon, TV und Hörfunk:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="3">Vom Übergabepunkt im Kellergeschoß wird zu jeder Wohnung ein Telefonkabel
(IYSTY) sowie ein Multimedia-Datenkabel (S/FT) Kategorie 7A, im geschlossenen
Rohrsystem M25, bis zur wohnungseigenen, 4-reihigen, mit Montageplatte, PatchPanel und Schuko-Steckdose bestückter Kommunikationsverteilung verlegt. Von
hier sternförmige Unterputzanbindung mittels Datenkabel (S/FT) Kategorie 7A zu
den 2-fach RJ45-Anschlußdosen samt Auflegearbeiten gemäß Raumbuch Elektro.
Vom Übergabepunkt im Kellergeschoß wird bis zur Kommunikationsverteilung in
jeder Wohnung ein Antennenkoaxialkabel >100dB, Class A, im geschlossenen
Rohrsystem M25, verlegt. Von hier sternförmige Unterputzanbindung mittels
Antennenkoaxialkabel >100dB, Class A, bis zu den Anschlussdosen gemäß
Raumbuch Elektro. Alle Anschlussdosen in der Wohnung sowie die Anschlussleiste
in der Wohnungsverteilung werden betriebsfertig montiert und angeschlossen zur
Verfügung gestellt. Ausnahme sind die Antennenanschlussdosen, die vom
jeweiligen Versorger geliefert, montiert und angeschlossen werden.
Abdeckrahmen und Zentralplatte für die Antennenanschlussdosen sind jedoch
Bestandteil der Leistung des GU. Der jeweilige Versorger liefert das notwendige
Kabel für die Verbindung der Hausanschlussräume untereinander im
Untergeschoß bis zu den Steigeschächten und zum zentralen
Hausanschlussraum, der Verkäufer übernimmt den Einbau des beigestellten
Kabels gemäß den Vorgaben des jeweiligen Versorgers. Die Freischaltung und das
Auflegen der Multimedia-Datenkabel und der Antennenleitung im Kellergeschoß
und an der wohnungseigenen Kommunikationsverteilung muss beim jeweiligen
Versorger beantragt werden und ist nicht Bestandteil der Leistung des
Verkäufers.</textarea> 
        </div>
        
    </div>

{% endblock %}