{% extends 'base_gebaudeausrustung.html' %}
{% load static %}

{% block inner_content%}
  
    <div class="entry-form">
        <h4></h4>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Badewanne:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="2">Weiße Stahlblech-Einbauwanne, Fabrikat Kaldewei 1,70 x 0,75 m, gedämmter
Wannenträger, verchromte Aufputz-Einhand-Wannenbatterie, Fabrikat F. Grohe,
Typ Lineare, und Brausegarnitur bestehend aus Handbrause mit
kunststoffummanteltem Metallschlauch, Excenterverschluss.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Duschwanne:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="3">Duschbereich mit Board, z.B. Illbruck, mit Bodeneinlauf, oder mit flacher
Stahlblech-Duschwanne. Alle Duschen ohne Duschabtrennung. Aufputz-EinhandBrausebatterie Fabrikat F. Grohe, Typ Lineare, und Brausegarnitur bestehend aus
Brausestange, Handbrause und 1,50 m kunststoffummanteltem Metallschlauch.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Toilette:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="2">Weißes, wandhängendes Keramik-Tiefspülklosett, Fabrikat Keramag Renova 1,
Einbauspülkasten Geberit oder gleichwertig mit weißer Betätigungsplatte und
Spartaste, schwerer Kunststoff-WC Sitz mit Deckel und Metallscharnieren.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Waschtisch im Bad:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="2">Weißer Keramik-Einzelwaschtisch, Fabrikat Keramag Renova Nr. 1, eckig, Größe
ca. 65 x 45 cm, mit verchromter Einhand-Hebelmischbatterie, Fabrikat F. Grohe,
Typ Lineare, Zugstangenablaufgarnitur.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Waschtisch im Duschbad und WC:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="2">Weißer Keramik-Einzelwaschtisch, Fabrikat Keramag Renova Nr. 1, eckig, Größe
ca. 55 x 44 cm, mit verchromter Einhand -Hebelmischbatterie, Fabrikat F. Grohe,
Typ Lineare, Zugstangenablaufgarnitur.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Waschmaschinenanschluss:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="2">Gerätegeruchsverschluss mit integrierter Wasserversorgung, verchromt.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Küchenspülen- und Spülmaschinenanschluss:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="2">Kombinationseckventil Kaltwasser, Eckventil Warmwasser und
Abwasseranschluss am Installationsschacht.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Außenzapfstellen:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="2">Eine frostsichere, selbstentleerende Armatur mit Schlauchverschraubung je
Dachterrasse, 2 Stück an einer Gebäudeaußenwand im Bereich der
gemeinschaftlichen Freiflächen und 1 Stück je EG-Wohnung mit Terrasse.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"> Verbrauchserfassung Wasser:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="2">Kalt - und Warmwasserzähler mit Funkablesung auf Mietbasis durch den
Auftraggeber.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"> Fußbodenheizung:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="2">In allen Wohnräumen, nicht im Abstellraum. Die Flurbereiche ohne Heizlast
werden mit einem separat regelbaren Heizkreis versehen.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Heizkörper:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="2">Handtuchheizkörper im Bad mit horizontalen Rundrohren und Betrieb über
elektrische Heizpatrone. Im Treppenhaus ein zentraler Heizkörper im
Untergeschoß.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Verbrauchserfassung Heizung:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="2">Wohnungsweise Wärmemengenzähler mit Funkablesung auf Mietbasis durch den
Auftraggeber.</textarea> 
        </div>
        
    </div>

{% endblock %}