{% extends 'base_projekt.html' %}
{% load static %}

{% block content%}
    <h3> Projekt XXXX - Versorgung I Entsorgung </h3>
    <div class="entry-form">
        <h4>Entwässerung</h4>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Haus:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="3">Anschluss an den öffentlichen Kanal durch den AG. Der AG verlegt die Anschlusskanäle bis auf das Grundstück und schließt diese Kanäle an die Übergabeschächte, die vom GU errichtet werden und die Leistungsgrenze definieren, an zwei verschiedenen Anschlusspunkten an.</textarea> 
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Dach:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="2">Entwässerung und Anschluss gemäß TGA-Planung, verzinkte Fallrohre sichtbar auf der Fassade.</textarea> 
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Dachterrassen und Balkone:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="2">Verzinkte Fallrohre sichtbar auf der Fassade mit Einläufen bzw. Balkoneinläufen.</textarea> 
        </div>


        <h4></h4>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Wasserversorgung, Gas, Elektro, Telefon, TV, Hörfunk:</span>
            </div>
            <textarea class="form-control" name="" id="" rows="3">Anschluss an die örtlichen Versorgungsleitungen. Alle Versorgungsmedien werden in den Hausanschlussraum (HAR) eingeführt, einschließlich der druckwasserdichten Durchführung. Von dort erfolgt die Verlegung der Versorgungsmedien Elektro, Telefon, TV und Hörfunk.</textarea> 
        </div>

    </div>
   
{% endblock %}