{% extends 'base_projekt.html' %}

{% block content%}
    <h3> Projekt XXXXXXX - Wände </h3>
    <div class="entry-form">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Außenwände UG:</span>                
            </div>
            <textarea class="form-control" name="" id="" rows="2">Stahlbeton. Weiße Wanne.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Außenwände Erd:</span>                
            </div>
            <textarea class="form-control" name="" id="" rows="2">Stahlbeton und Kalksandstein.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Außenwände Ober:</span>                
            </div>
            <textarea class="form-control" name="" id="" rows="2">Stahlbeton und Kalksandstein.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Außenwände taffelgeschoss:</span>                
            </div>
            <textarea class="form-control" name="" id="" rows="2">Stahlbeton und Kalksandstein.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Wohnungstrennwände:</span>                
            </div>
            <textarea class="form-control" name="" id="" rows="2">Stahlbeton und Kalksandstein.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Treppenhauswände:</span>                
            </div>
            <textarea class="form-control" name="" id="" rows="2">NB</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Wohnungstrennwände:</span>                
            </div>
            <textarea class="form-control" name="" id="" rows="2">Stahlbeton und Kalksandstein.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Innenwände Kellergeschoss:</span>                
            </div>
            <textarea class="form-control" name="" id="" rows="2">Stahlbeton und Kalksandstein.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Innenwände Tiefgarage:</span>                
            </div>
            <textarea class="form-control" name="" id="" rows="2">Stahlbeton und Kalksandstein.</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Tragende Innenwände, Erd-, Ober- und Staffelgeschoss:</span>                
            </div>
            <textarea class="form-control" name="" id="" rows="2">Stahlbeton und Kalksandstein.</textarea> 
        </div>


    </div>
    

{% endblock %}