<!-- Aussenputz page template at haus level -->

{% extends 'siteman/base_haus.html' %}

{% block content%}
    <div class="page-heading">
        <h3 class="imp-heading"> Aussenputz: {{ haus }} </h3>
    </div>
    <div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Unterputz</h5>
                <p>{{ haus.aussenputz.unterputz }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Edelputz</h5>
                <p>{{ haus.aussenputz.edelputz }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sockel</h5>
                <p>{{ haus.aussenputz.sockel }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sonstiges</h5>
                <p>{{ haus.aussenputz.sonstiges }}</p>
            </div>
        </div>
        {% if haus.aussenputz %}
        <div class="custom-btn-right-container">
            <a class="btn btn-primary" href="{% url 'siteman:haus_aussenputz_update' haus.aussenputz.pk %}">Update</a>
        </div>
        {% endif %}
    </div>
    
{% endblock %}