<!-- Aussenanlagern page template at haus level -->

{% extends 'siteman/base_haus.html' %}

{% block content%}
    <div class="page-heading">
        <h3 class="imp-heading"> Aussenanlagern: {{ haus }} </h3>
    </div>
    <div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Terrassenbelaege</h5>
                <p>{{ haus.aussenanlagern.terrassenbelaege }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Pflanzen</h5>
                <p>{{ haus.aussenanlagern.pflanzen }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Pflaster</h5>
                <p>{{ haus.aussenanlagern.pflaster }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Grundflache</h5>
                <p>{{ haus.aussenanlagern.grundflache }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Wegeflachen</h5>
                <p>{{ haus.aussenanlagern.wegeflachen }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mulleinhausung</h5>
                <p>{{ haus.aussenanlagern.mulleinhausung }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Einfriedung</h5>
                <p>{{ haus.aussenanlagern.einfriedung }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Dachaufbau tiefgarage grundflache</h5>
                <p>{{ haus.aussenanlagern.dachaufbau_tiefgarage_grundflache }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Dachaufbau tiefgarage park wegeflache</h5>
                <p>{{ haus.aussenanlagern.dachaufbau_tiefgarage_park_wegeflache }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sonstiges</h5>
                <p>{{ haus.aussenanlagern.sonstiges }}</p>
            </div>
        </div>
        {% if haus.aussenanlagern %}
        <div class="custom-btn-right-container">
            <a class="btn btn-primary" href="{% url 'siteman:haus_aussenanlagern_update' haus.aussenanlagern.pk %}">Update</a>
        </div>
        {% endif %}
    </div>
    
{% endblock %}