<!-- Bodenbelage page template at haus level -->

{% extends 'siteman/base_haus.html' %}

{% block content%}
    <div class="page-heading">
        <h3 class="imp-heading"> Bodenbelage: {{ haus }} </h3>
    </div>
    <div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Treppenhaus</h5>
                <p>{{ haus.bodenbelaege.treppenhaus }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tiefgarage</h5>
                <p>{{ haus.bodenbelaege.tiefgarage }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sonstiges</h5>
                <p>{{ haus.bodenbelaege.sonstiges }}</p>
            </div>
        </div>
        {% if haus.bodenbelaege %}
        <div class="custom-btn-right-container">
            <a class="btn btn-primary" href="{% url 'siteman:haus_bodenbelaege_update' haus.bodenbelaege.pk %}">Update</a>
        </div>
        {% endif %}
    </div>
    
{% endblock %}