<!-- Elektro page template at haus level -->

{% extends 'siteman/base_haus.html' %}

{% block content%}
    <div class="page-heading">
        <h3 class="imp-heading"> Elektro: {{ haus }} </h3>
    </div>
    <div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Elektro</h5>
                <p>{{ haus.elektro.elektro }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sonstiges</h5>
                <p>{{ haus.elektro.sonstiges }}</p>
            </div>
        </div>
        {% if haus.elektro %}
        <div class="custom-btn-right-container">
            <a class="btn btn-primary" href="{% url 'siteman:haus_elektro_update' haus.elektro.pk %}">Update</a>
        </div>
        {% endif %}
    </div>
    

{% endblock %}