<!-- erdbau page template at haus level -->

{% extends 'siteman/base_haus.html' %}

{% block content%}
    <div class="page-heading">
        <h3 class="imp-heading"> Erdbau: {{ haus }} </h3>
    </div>
    
    <div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Erdbau</h5>
                <p>{{ haus.erdbau.erdbau }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sonstiges</h5>
                <p>{{ haus.erdbau.sonstiges }}</p>
            </div>
        </div>
        {% if haus.erdbau %}
        <div class="custom-btn-right-container">
            <a class="btn btn-primary" href="{% url 'siteman:haus_erdbau_update' haus.erdbau.pk %}">Update</a>
        </div>
        {% endif %}
    </div>
{% endblock %}