{% extends 'siteman/base_haus.html' %}

{% block content%}

<div class="page-heading">
    <h3 class="imp-heading"> Fenster: {{ haus }} </h3>
</div>
<div>
    
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Kellergeschoss</h5>
            <p>{{ haus.fenster.kellergeschoss }}</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Erdgeschoss</h5>
            <p>{{ haus.fenster.erdgeschoss }}</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Regelgeschoss</h5>
            <p>{{ haus.fenster.regelgeschoss }}</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Dachgeschoss</h5>
            <p>{{ haus.fenster.dachgeschoss }}</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Treppenhaus</h5>
            <p>{{ haus.fenster.treppenhaus }}</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Tiefgarage</h5>
            <p>{{ haus.fenster.tiefgarage }}</p>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Beschattung</h5>
            <p>{{ haus.fenster.beschattung }}</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Fensterbanke</h5>
            <p>{{ haus.fenster.fensterbaenke }}</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Sonstiges</h5>
            <p>{{ haus.fenster.sonstiges }}</p>
        </div>
    </div>
    {% if haus.fenster %}
    <div class="custom-btn-right-container">
        <a class="btn btn-primary" href="{% url 'siteman:haus_fenster_update' haus.fenster.pk %}">Update</a>
    </div>
    {% endif %}
</div>
{% endblock %}