<!-- Innenputz page template at haus level -->

{% extends 'siteman/base_haus.html' %}

{% block content%}
    <div class="page-heading">
        <h3 class="imp-heading"> Innenputz: {{ haus }} </h3>
    </div>
    <div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Innenputz-Bad</h5>
                <p>{{ haus.innenputz.innenputz_bad }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Innenputz-wohnraueme</h5>
                <p>{{ haus.innenputz.innenputz_wohnraueme }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sonstiges</h5>
                <p>{{ haus.innenputz.sonstiges }}</p>
            </div>
        </div>
        {% if haus.innenputz %}
        <div class="custom-btn-right-container">
            <a class="btn btn-primary" href="{% url 'siteman:haus_innenputz_update' haus.innenputz.pk %}">Update</a>
        </div>
        {% endif %}
    </div>
    
{% endblock %}