<!-- maler page template at haus level -->

{% extends 'base_haus.html' %}

{% block content%}
    <h3> Maler: {{ haus }} </h3>
    <div class="entry-form">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Tapete:</span>                
            </div>
            <textarea class="form-control" name="" id="" rows="3" disabled>{{ haus.maler.tapete }}</textarea> 
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Farbe:</span>                
            </div>
            <textarea class="form-control" name="" id="" rows="3" disabled>{{ haus.maler.farbe }}</textarea> 
        </div>
    </div>
    

{% endblock %}