<!-- haus level rohbau template  -->

{% extends 'siteman/base_haus.html' %}

{% block content%}
    <div class="page-heading">
        <h3 class="imp-heading"> Rohbau: {{ haus }} </h3>
    </div>
    <div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Grundung:</h5>
                <p>{{ haus.rohbau.grundung }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Geschossdecken:</h5>
                <p>{{ haus.rohbau.geschossdecken }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Aussenwande kellergeschoss:</h5>
                <p>{{ haus.rohbau.aussenwande_kellergeschoss }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Aussenwande EG, OG, DG:</h5>
                <p>{{ haus.rohbau.aussenwande_eg_og_dg }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tragendeinnenwande:</h5>
                <p>{{ haus.rohbau.tragendeinnenwande }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Nichttragendeinnenwande:</h5>
                <p>{{ haus.rohbau.nichttragendeinnenwande }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tiefgaragenrampe:</h5>
                <p>{{ haus.rohbau.tiefgaragenrampe }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Installationschachte:</h5>
                <p>{{ haus.rohbau.installationschachte }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Dach:</h5>
                <p>{{ haus.rohbau.dach }}</p>
            </div>
           
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Treppen:</h5>
                <p>{{ haus.rohbau.treppen }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Balkon:</h5>
                <p>{{ haus.rohbau.balkon }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sonstiges:</h5>
                <p>{{ haus.rohbau.sonstiges }}</p>
            </div>
        </div>
        {% if haus.rohbau %}
        <div class="custom-btn-right-container">
            <a class="btn btn-primary" href="{% url 'siteman:haus_rohbau_update' haus.rohbau.pk %}">Update</a>
        </div>
        {% endif %}
    </div>
    

{% endblock %}
