<!-- Sanitar page template at haus level -->

{% extends 'siteman/base_haus.html' %}

{% block content%}
    <div class="page-heading">
        <h3 class="imp-heading"> Sanitar: {{ haus }} </h3>
    </div>
    <div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Heizung</h5>
                <p>{{ haus.sanitaer.heizung }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Entwasserung</h5>
                <p>{{ haus.sanitaer.entwasserung }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sonstiges</h5>
                <p>{{ haus.sanitaer.sonstiges }}</p>
            </div>
        </div>
        {% if haus.sanitaer %}
        <div class="custom-btn-right-container">
            <a class="btn btn-primary" href="{% url 'siteman:haus_sanitaer_update' haus.sanitaer.pk %}">Update</a>
        </div>
        {% endif %}
    </div>
    

{% endblock %}