<!-- schlosser page template at haus level -->

{% extends 'siteman/base_haus.html' %}

{% block content%}
    <div class="page-heading">
        <h3 class="imp-heading"> Schlosser: {{ haus }} </h3>
    </div>
    <div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Treppenglander</h5>
                <p>{{ haus.schlosser.treppenglander }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Balkongelander</h5>
                <p>{{ haus.schlosser.balkongelander }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Absturzsicherungen</h5>
                <p>{{ haus.schlosser.absturzsicherungen }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Kellerabtrennungen</h5>
                <p>{{ haus.schlosser.kellerabtrennungen }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Rollgittertor</h5>
                <p>{{ haus.schlosser.rollgittertor }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sonstiges</h5>
                <p>{{ haus.schlosser.sonstiges }}</p>
            </div>
        </div>
        {% if haus.schlosser %}
        <div class="custom-btn-right-container">
            <a class="btn btn-primary" href="{% url 'siteman:haus_schlosser_update' haus.schlosser.pk %}">Update</a>
        </div>
        {% endif %}
    </div>
    
{% endblock %}