<!-- Trokenbau page template at haus level -->

{% extends 'siteman/base_haus.html' %}

{% block content%}
    <div class="page-heading">
        <h3 class="imp-heading"> Trockenbau: {{ haus }} </h3>
    </div>
    <div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Installationsschachte</h5>
                <p>{{ haus.trockenbau.installationsschachte }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Wande</h5>
                <p>{{ haus.trockenbau.wande }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Decken</h5>
                <p>{{ haus.trockenbau.decken }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Vorsatzschalen</h5>
                <p>{{ haus.trockenbau.vorsatzschalen }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sonstiges</h5>
                <p>{{ haus.trockenbau.sonstiges }}</p>
            </div>
        </div>
        {% if haus.trockenbau %}
        <div class="custom-btn-right-container">
            <a class="btn btn-primary" href="{% url 'siteman:haus_trockenbau_update' haus.trockenbau.pk %}">Update</a>
        </div>
        {% endif %}
    </div>
    
{% endblock %}