<!-- summary information of a haus goes here -->

{% extends 'siteman/base_haus.html' %}

{% block content%}
    <div class="page-heading">
        <h3 class="imp-heading"> {{ haus }} </h3>
    </div>
    <div class="ubersicht">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Erdbau:</h5>
                <p>{{ haus.erdbau.erdbau }}</p>
            </div>
        </div>
        
        <div class="card">
            <div class="card-body">
                <h5>Rohbau:</h5>
                <h6>Grundung:</h6>
                <p>{{ haus.rohbau.grundung }}</p>
                <h6>Geschossdecken:</h6>
                <p>{{ haus.rohbau.geschossdecken }}</p>
                <h6>Aussenwande kellergeschoss:</h6>
                <p>{{ haus.rohbau.aussenwande_kellergeschoss }}</p>
                <h6>Aussenwande EG,OG,DG:</h6>
                <p>{{ haus.rohbau.aussenwande_eg_og_dg }}</p>
                <h6>Tragendeinnenwande:</h6>
                <p>{{ haus.rohbau.tragendeinnenwande }}</p>
                <h6>Nichttragendeinnenwande:</h6>
                <p>{{ haus.rohbau.nichttragendeinnenwande }}</p>
                <h6>dach:</h6>
                <p>{{ haus.rohbau.dach }}</p>
                <h6>Treppen:</h6>
                <p>{{ haus.rohbau.treppen }}</p>
                <h6>balkon:</h6>
                <p>{{ haus.rohbau.balkon }}</p>
            </div>
            
        </div>
        <div class="card">
            <div class="card-body">
                <h5>Dach:</h5>
                <h6>Hauptdach</h6>
                <p>{{ haus.dach.hauptdach }}</p>
                <h6>Dachterrassen</h6>
                <p>{{ haus.dach.dachterrassen }}</p>
                <h6>Spenglerarbeiten</h6>
                <p>{{ haus.dach.spenglerarbeiten }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5>Fenster:</h5>
                <h6>Kellergeschoss</h6>
                <p>{{ haus.fenster.kellergeschoss }}</p>
                <h6>Erdgeschoss</h6>
                <p>{{ haus.fenster.erdgeschoss }}</p>
                <h6>Regelgeschoss</h6>
                <p>{{ haus.fenster.regelgeschoss }}</p>
                <h6>Dachgeschoss</h6>
                <p>{{ haus.fenster.dachgeschoss }}</p>
                <h6>Treppenhaus</h6>
                <p>{{ haus.fenster.treppenhaus }}</p>
                <h6>Tiefgarage</h6>
                <p>{{ haus.fenster.tiefgarage }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5>Elektro:</h5>
                <h6>Elektro</h6>
                <p>{{ haus.elektro.elektro }}</p>
                <h6>Treppenhaus</h6>
                <p>{{ haus.elektro.treppenhaus }}</p>
                <h6>Keller</h6>
                <p>{{ haus.elektro.keller }}</p>
                <h6>Private_abstellraum</h6>
                <p>{{ haus.elektro.private_abstellraum }}</p>
                <h6>Tiefgarage</h6>
                <p>{{ haus.elektro.tiefgarage }}</p>
                <h6>Medientechnik</h6>
                <p>{{ haus.elektro.medientechnik }}</p>
                <h6>Freiflachen</h6>
                <p>{{ haus.elektro.freiflachen }}</p>
            </div>
            
        </div>
        <div class="card">
            <div class="card-body">
                <h5>HLS:</h5>
                <h6>Energiegwinnung</h6>
                <p>{{ haus.hls.energiegwinnung }}</p>
                <h6>heizung</h6>
                <p>{{ haus.hls.heizung }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5>Innenputz:</h5>
                <h6>Innenputzbad</h6>
                <p>{{ haus.innenputz.innenputz_bad }}</p>
                <h6>Innenputzwohnraueme</h6>
                <p>{{ haus.innenputz.innenputz_wohnraueme }}</p>
            </div>
        </div>
      
        <div class="card">
            <div class="card-body">
                <h5>Trockenbau:</h5>
                <h6>Wande</h6>
                <p>{{ haus.trockenbau.wande }}</p>
                <h6>Decken</h6>
                <p>{{ haus.trockenbau.decken }}</p>
            </div>
        </div>
             
    </div>
{% endblock %}