/*---------------------------------*/
/*-------- base template -------------*/
/*-----------------------------------*/
.container {
    background-color: #f1f2f6;
    box-sizing: border-box;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    min-height: 80vh;
    /*border: 1px solid blue;*/
}
.inner-container {
    display: flex;
}

.top-banner {
    display: flex;
    height: 100px;
    flex-basis: 100%;
    background-size: cover;
    margin-top: 10px;
}

.top-banner img {
    height: 100px;
}

.top-banner h1 {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 3rem;
    font-weight: bold;
}



/*---------------------------------*/
/*-------- nav -------------*/
/*-----------------------------------*/
.top-nav {
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    /*margin-right: 5%;*/
}

.top-nav a {
    color: #000;
    transition: color 0.3s ease;
}

.top-nav a:hover {
    color: #fff;
}

.top-nav li {
    /*background-color: #FF8263;*/
    background-color: #AFD1FD;

    color: #000;
    transition: background-color 0.3s ease;
}

.top-nav li:hover {
    /*background-color: #D3111A;*/
    background-color: #0F65D8;
    
}

.left-nav-projekt,
.left-nav-erganzung {
    margin-top: 65px;
    flex-basis: 20%;
    /*display: none;*/
}

.left-nav-projekt a,
.left-nav-erganzung a {
    color: #000;
    transition: color 0.3s ease;
}

.left-nav-projekt a:hover,
.left-nav-erganzung a:hover {
    color: #fff;
}

.left-nav-projekt li,
.left-nav-erganzung li {
    background-color: #AFD1FD;
    color: #000;
    transition: background-color 0.3s ease;
}

.left-nav-projekt li:hover,
.left-nav-erganzung li:hover {
    background-color: #0F65D8;
}

/* .left-nav-erganzung {
    margin-top: 65px;
    flex-basis: 20%;
    display: none;
}

.left-nav-erganzung a {
    color: #000;
    transition: color 0.5s ease;
}

.left-nav-erganzung a:hover {
    color: #fff;
}

.left-nav-erganzung li {
    background-color: #FF8263;
    color: #000;
    transition: background-color 0.5s ease;
}

.left-nav-erganzung li:hover {
    background-color: #D3111A;
} */

.inner-nav {

}

.inner-nav a {
    /*background-color: #E7E5E3;*/
    background-color: #C7DEFD;
    color: #000;
    transition: background-color 0.3s ease;
}

.inner-nav a:hover {
    background-color: #82B8FD;
}

/*---------------------------------*/
/*-------- input form  -------------*/
/*-----------------------------------*/
.input-group-prepend{
    width: 30%;
}
.input-group-text {
    width: 100%;
    /*white-space: pre-wrap;*/
    white-space: normal;
}

/*---------------------------------*/
/*-------- card -------------*/
/*-----------------------------------*/

.card {
    margin-top: 10px;
}

.card p {
    margin-left: 30px;
}

.card-title {
    color: #0F65D8;
}

.card-header {
    /*color: #FF8263;*/
    background-color: #C7DEFD;
}

/*---------------------------------*/
/*-------- home template -------------*/
/*-----------------------------------*/

.content {
  
    margin-top: 20px;
    margin-left: 20px;
    flex-basis: 100%;
}

.entry-form .form-control {
    /*width: 100%;*/
}


/*---------------------------------*/
/*-------- project page template -------------*/
/*-----------------------------------*/

.google-map img {
    width: 100%;
    padding-bottom: 30px;
}

.project-selection {
    max-width: 50%;
}