{% extends 'siteman_base_template.html' %}
{% load static %}

{% block left_nav %}
<div class="left-nav-projekt">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#">Project </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Haus</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Wohnung</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Rohbau</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Wände</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Abdictung</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Decken</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Versorgung|Entsorgung</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Erweiterter Rohbau</a>
      </li>
    </ul>
</div>
{% endblock %}