{% extends 'siteman_base_template.html' %}
{% load static %}

{% block left_nav %}
<div class="left-nav-erganzung">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'siteman:erg_haus' %}">Haus</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'siteman:erg_wohnung' %}">Wohnung</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'siteman:erg_rohbau' %}">Rohbau</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'siteman:erg_wande' %}">Wände</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'siteman:erg_abdictung' %}">Abdictung</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'siteman:erg_decken' %}">Decken</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'siteman:erg_versorgung' %}">Versorgung|Entsorgung</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'siteman:erg_erweiterter' %}">Erweiterter Rohbau</a>
      </li>
    </ul>
</div>
{% endblock %}