/*---------------------------------*/
/*-------- base template -------------*/
/*-----------------------------------*/
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1380px;
}
}

.container {
    background-color: #f1f2f6;
    /*background: url("/static/img/bkgrd_brick_white.jpg") fixed;*/
    box-sizing: border-box;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    min-height: 80vh;
    /*border: 1px solid blue;*/
}


.inner-container {
    display: flex;
    flex-grow: 1;
}

.top-banner {
    /*background-image: url("/static/img/top-banner-background.png");*/

    background-size: cover;
    background-color: #d2e2ec;
    display: flex;
    flex-basis: 100%;
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 100px;
    margin-top: 10px;
    color:  #03396c;
}

.top-banner img {
    height: 100px;
}

.top-banner h1 {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 3rem;
    font-weight: bold;
}

.page-heading {
    background-color: #ffff;
}

footer {
    background-color: #f0f8ff;
}

footer h4, footer h6 {
    text-align: center;
}

.login-link {
    
}

/*---------------------------------*/
/*-------- common style -------------*/
/*-----------------------------------*/

.imp-heading {
    color:  #ff652f;
}

.custom-btn-right-container {
    /*disply button to the right side of the form*/
    display: flex; 
    justify-content: flex-end;
    margin-top: 10px;   
}

.custom-btn-right {
    margin-right: 10px;
    margin-left: 10px;
}

.gray-bkgrd {
    background-color: #f0f8ff;
    padding: 5px;
}

.subcontainer {
    max-width: 80%;
    margin:10px;
}

.ubersicht h5{
    color: #ff652f;
}

.ubersicht h6{
    margin-left: 20px;
    color: #47c0ba;
}

.ubersicht p{
    margin-left: 40px;
}

.upload-link-right {
    text-align: right;
}

/*---------------------------------*/
/*-------- nav -------------*/
/*-----------------------------------*/
.top-nav {
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    /*margin-right: 5%;*/
}

.top-nav a {
    color: #000;
    transition: color 0.3s ease;
}

.top-nav a:hover {
    color: #fff;
}

.top-nav li {
    /*background-color: #FF8263;*/
    background-color: #AFD1FD;

    color: #000;
    transition: background-color 0.3s ease;
}

.top-nav li:hover {
    /*background-color: #D3111A;*/
    background-color: #0F65D8;
    
}

.left-nav-projekt,
.left-nav-erganzung {
    margin-top: 65px;
    flex-basis: 20%;
    /*display: none;*/
}

.left-nav-projekt a,
.left-nav-erganzung a {
    color: #000;
    transition: color 0.3s ease;
}

.left-nav-projekt a:hover,
.left-nav-erganzung a:hover {
    color: #fff;
}

.left-nav-projekt li,
.left-nav-erganzung li {
    background-color: #AFD1FD;
    color: #000;
    transition: background-color 0.3s ease;
}

.left-nav-projekt li:hover,
.left-nav-erganzung li:hover {
    background-color: #0F65D8;
}

/*===========================*/
.left-nav-wohnung {
    margin-top: 65px;
    flex-basis: 20%;
    /*display: none;*/
}

.left-nav-wohnung a {
    color: #000;
    transition: color 0.3s ease;
}

.left-nav-wohnung a:hover {
    color: #fff;
}

.left-nav-wohnung li {
    background-color: #ffdc9a;
    color: #000;
    transition: background-color 0.3s ease;
}

.left-nav-wohnung li:hover {
    background-color: #ffa803;
}


.inner-nav {

}

.inner-nav a {
    /*background-color: #E7E5E3;*/
    background-color: #C7DEFD;
    color: #000;
    transition: background-color 0.3s ease;
}

.inner-nav a:hover {
    background-color: #82B8FD;
}

/*---------------------------------*/
/*-------- input form  -------------*/
/*-----------------------------------*/
.input-group-prepend{
    width: 20%;
}
.input-group-text {
    width: 100%;
    /*white-space: pre-wrap;*/
    white-space: normal;
}

/*---------------------------------*/
/*-------- card -------------*/
/*-----------------------------------*/

.card {
    margin-top: 10px;
    padding: 10px;
}

.card p {
    margin-left: 30px;
}

.card-title {
    color: #0F65D8;
}

.card-header {
    /*color: #FF8263;*/
    background-color: #C7DEFD;
}

.card-body p {
    white-space: pre-line;
}

/*---------------------------------*/
/*-------- home template -------------*/
/*-----------------------------------*/

.content {
  
    margin-top: 20px;
    margin-left: 20px;
    flex-basis: 100%;
}

.entry-form .form-control {
    /*width: 100%;*/
}


/*---------------------------------*/
/*-------- project page template -------------*/
/*-----------------------------------*/

.google-map img {
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
}

.projekt-selection {
    max-width: 50%;
}